@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  ::-webkit-scrollbar{
    width:6px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 99999px;
    background:#808080;
  }
}
